{% extends "base.html" %}

{% block content %}

<h1>Welcome to Rock Paper Scissors</h1>
<main>
    <p>
        Your Classic game of Rock Paper Scissors with a twist. Scissors cuts Paper, Paper covers Rock, Rock crushes Lizard,
        Lizard poisons Spock, Spock smashes Scissors, Scissors decapitates Lizard, Lizard eats Paper, Paper disproves Spock,
        Spock vaporizes Rock, (and as it always has) Rock crushes Scissors
    </p>
    <p>
        Once you've got a grasp of the rules, or even if you just want to stick to your classic Rock Paper Scissors for now,
        simply click one of the links above depending on whether you'd like to play against the computer, or against a friend on the same device.
        From there you'll be asked to make a selection from a drop down box.
    </p>
</main>


{% endblock %}