{% extends "base.html" %}

{% block content %}

<h1>Welcome to Rock Paper Scissors</h1>
<main>
    <p>
        The objective of the game is simple. Rock crushes Scissors, Paper covers Rock, and Scissors cut Paper.
    </p>
    <p>
        Once you've got a grasp of the rules, simply click one of the links above depending on whether you'd like to play against the computer, or against a friend on the same device.
        From there you'll be asked to make a selection from a drop down box.
    </p>
</main>


{% endblock %}